<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EatService</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>

  <header th:insert="blocks/header :: header"></header>

    <br>
  <div class="container mt-5">

    <div class="row d-flex justify-content-center">

      <div class="col-md-7">

        <div class="card p-3 py-4">

          <div th:each="el : ${client}">

          <div class="text-center">
            <img th:src="${el.pic}" width="100" class="rounded-circle">
          </div>

          <div class="text-center mt-3">

            <h4 class="mt-2 mb-0" th:text="${el.f}+' '+${el.i}"></h4>
            <span>  <h4 class="text-primary" th:text="${el.country}+','+${el.city}"/></span>

            <div class="px-4 mt-1">
              <p class="fonts" th:text="'Дата регистрации:'+' '+${el.dr}"></p>

            </div>

          </div>

            </div>

        </div>

      </div>

    </div>

  </div>


  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

        <div th:each="el : ${fl}">

          <div class="col">
            <div class="card shadow-sm">
              <h1 class="card-text"><h5 class="card-title" th:text="${el.title}"/></h1>
              <small class="text-muted"><p class="card-text" th:text="'Preparing length: '+${el.len}"/></small>
              <img class="group list-group-image" th:src="${el.pic}" width="300" height="300" alt="1" />

              <div class="card-body">
                <p class="card-text" th:text="${el.text}"></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-warning" th:href="'/recip/'+ ${el.id}">Смотреть</a>
                    <a class="btn btn-primary" th:href="'/recip/'+ ${el.id} + '/edit'">Редактировать</a>
                    <form th:action="'/recip/'+ ${el.id} + '/remove'" method="post">
                      <button class="btn btn-danger" type="submit">Удалить</button>
                    </form>
                  </div>
                  <small class="text-muted"><p class="card-text" th:text="${el.df}"/></small>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

    
   


  <footer th:insert="blocks/footer :: footer"></footer>>

  </body>
</html>