<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="'Recip '+${number}+'!'" />
    <!-- Bootstrap -->
      <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <header th:insert="blocks/header :: header"></header>

   <div th:each="el : ${food}">

    <div class="container mt-2">
		
      <div class="row">
        <div class="col-12">
			
			<div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0" th:text="${el.theme.name}+', '+${el.df}" />
    <div class="d-flex text-muted pt-3">
        <img class="group list-group-image" th:src="${el.client.pic}" width="30" height="30" alt="1" />
        &nbsp;
      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <a th:href="'/user/'+ ${el.client.id}" class="d-block text-gray-dark" th:text="${el.client.f}+' '+${el.client.i}"/>
        <strong class="d-block text-gray-dark" th:text="${el.client.country}+','+${el.client.city}"/>
      </p>
    </div>
              <h6 class="border-bottom pb-2 mb-0" th:text="'Time length '+${el.len}" />
    
			
          <div class="jumbotron">
            <h1 class="text-center" th:text="${el.title}"/>
            <div class="row justify-content-center">


            </div>
              <p class="text-center" th:text="${el.text}"/>
            <img class="card-img-top" th:src="${el.pic}" alt="Card image cap">
			  
		
   
    <span class="pt-1 form-checked-content">
      <strong></strong>
      <small class="d-block text-muted">
        <svg class="bi me-1" width="1em" height="1em"><use xlink:href="#alarm"/></svg>
        
      </small>
    </span>
			  

			  
          </div>
			
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="text-center col-md-6 col-12">
          <h3>Ingridients</h3>
            <p><textarea rows="10" cols="45" class="form-control" id="Ing" name="Ing" th:text="${el.ing}"/></p>
        </div>
        <div class="text-center col-md-6 col-12">
          <h3>Steps</h3>
            <p><textarea rows="10" cols="45" class="form-control" id="Step" name="Step" th:text="${el.step}"/></p>
        </div>
      </div>
    </div>
    <hr>
    <section>
      <h2 class="text-center">Video Tutorial</h2>
      <div class="container">
          <iframe width="560" height="315" th:src="${el.youtube}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
        <hr>


    </section>

    </div>
    

  </body>

  <footer th:insert="blocks/footer :: footer"></footer>
</html>